.app {
  background-color: white;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
}

body {
  background-color: rgb(98, 201, 222);
}

.crossed {
  text-decoration: line-through 2px red;
}

ul {
  list-style: none;
}

li,h1 {
  font-family: 'Gabarito', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  border:none;
  background-color: rgb(174, 233, 233);
  padding:10px;
}

.btn{
  border: none;
  color:white;
    padding: 10px;
    border-radius: 10px;
    margin-top:20px
}
.add{
  background-color: rgb(9, 223, 130);
}

.delete{
  background-color: rgb(225, 6, 53);
}
